<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
          <div class="steps-content">{{ steps[activeIndex].text }}</div>
          <ul class="steps-list">
            <li
              class="steps-item"
              :class="{done: selectedStep > idx, active: selectedStep == idx }"
              @click="setActive(idx)"
              v-for="(step, idx) in steps"
              :key="step"
            >
              <span>{{ idx + 1 }}</span> {{ step.title }}
            </li>
          </ul>
          <div>
            <button class="btn" :disabled="isCanBack" @click="prev()">
              Назад
            </button>
            <button class="btn primary" @click="nextOfFinish(activeIndex)">
              {{ isLastStep == true ? 'Закончить' : 'Вперед'}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
